<% include ../../partials/header %>

    <h2>
        Movie DB web application
    </h2>
    <p class="descPortfolio">
        Frontend application using The Movie Database API. Built with React.
        <br/> Through a carousel of four types, it's possible to select each and read its details. The Search feature allows to
        find shows by titles.
    </p>

    <br/>
    <br/>

    <section class='links'>
        <a href="https://shows-best-shows.netlify.com/" target="__blank">
            <h3>Live Demo</h3>
        </a>
        <a href="https://github.com/buaiscia/movies_shows_react_v2" target="__blank">
            <h3>Repository on Github</h3>
        </a>
    </section>

    <br/>

    <div style="text-align: center">
        <img class="gif" src="../img/moviesShow.gif"></img>
    </div>

    <br/>
    <br/>

    <h3 style="font-size: 2.2rem;">Skill set</h3>
    <section class='skillsetport'>
        <div>
            <p>Frontend</p>
            <p>HTML5 - CSS3 - JS - React</p>
            <p>
                <img src="../img/if_html5_294678.svg" alt="HTML5">
                <img src="../img/if_css3_294692.svg" alt="CSS3">
                <img src="../img/react.jpg" alt="React">

            </p>
        </div>
        <div>
            <p>Backend</p>
            <p>TMDB</p>
            <p>
                <img src="../img/tmdb.svg" alt="The Movie Database">
            </p>
        </div>
        <div>
            <p>Storage</p>
            <p>-</p>
        </div>
        <div>
            <p>Test</p>
            <p>Jest - Enyzme</p>
            <p>
                <img src="../img/jestt.png" alt="Jest">
            </p>
        </div>

    </section>



    <% include ../../partials/footer %>