<% include ../../partials/header %>

    <h2>
        Portal webapplication
    </h2>
    <p class="descPortfolio">
        Created in 2019 for work purposes, the tool was made to make life easier in my team. It consists of an aggregation of tools
        used in daily working tasks into one single page, easily accessible and looking like a portal.
        <br/>
        <br/> This tool has been created from a Gatsby starter and then heavily modified with ReactJS. The visualization of the
        internal tools happens thanks to an iFrame. It's deployed (or served) directly on an Apache server.
    </p>
    <div style="text-align: center">
        <img class="gif" src="../img/portal_opt.gif"></img>
    </div>

    <h3>Skill set</h3>
    <section class='skillsetport'>
        <div>
            <p>Frontend</p>
            <p>HTML5 - CSS3 - JS - React</p>
            <p>
                <img src="../img/if_html5_294678.svg" alt="HTML5">
                <img src="../img/if_css3_294692.svg" alt="CSS3">
                <img src="../img/JS.png" alt="JS">
                <img src="../img/react.jpg" alt="React">

            </p>
        </div>
        <div>
            <p>Backend</p>
            <p>Gatsby - Apache</p>
            <p>
                <img src="../img/nodejs.png" alt="NodeJS">
                <img src="../img/gatsbypng.png" alt="Gatsby">
                <img src="../img/apache.jfif" alt="Apache">
            </p>
        </div>
        <div>
            <p>Storage</p>
            <p>-</p>

        </div>

    </section>

    <a href="https://github.com/buaiscia/PortalTool" target="__blank">
        <h3>Repository on Github</h3>
    </a>


    <% include ../../partials/footer %>