<% include ../partials/header %>

<h2>Portfolio</h2>

<section id="pki">
    <h3>PKI tool</h3>
    <div class="d-flex flex-column flex-lg-row justify-content-between">
        <div>
            <img class="portfolioimg" src="../img/deployment_tool.jpg" alt="developed deployment tool">
            <br><p id="caption">Work related deployment tool</p>
        </div>
        <div>
            <img class="portfolioimg" src="../img/deployment_tool.jpg" alt="developed deployment tool">
            <br><p id="caption">Work related deployment tool</p>
        </div>
        
        

    </div>
    <div>
        
    </div>

        <div>
            <img class="portfolioimg" src="../img/deployment_tool.jpg" alt="developed deployment tool">
            <br><p id="caption">Work related deployment tool</p>
        </div>
        <div>
            <img class="portfolioimg" src="../img/deployment_tool.jpg" alt="developed deployment tool">
            <br><p id="caption">Work related deployment tool</p>
        </div>  
</section>


<% include ../partials/footer %>