<% include ../partials/header %>

    <div class="row; padding-bottom: 10px;">
        <div class="col-md-12">
            <h2 class="portfolioTitle">Portfolio</h2>
            <section id="projects" style="margin: 2% 0;" class="projects">
                <div style="margin: auto; text-align: center" class="animated fadeInLeft delay-1s">
                    <a href="./portfolio/deploymentTool">
                        <img src="../img/deployment_tool_rs.jpg" alt="developed deployment tool">
                    </a>
                    <br>
                    <p id="caption">Automatic deployment tool.
                        <br/> Upload files, load them on the server and deploy the application with two buttons.
                        <br/>
                        <br/>
                        <span style="font-weight: 600">Technologies used: HTML5/CSS3, NodeJS, EJS, JS, Shell/Bash</span>
                    </p>
                </div>
                <div style="margin: auto; text-align: center" class="animated fadeInRight delay-1s">
                    <a href="./portfolio/portal">
                        <img src="../img/portal_rs.png" alt="portal tool">
                    </a>
                    <br>
                    <p id="caption">The Portal.
                        <br/>Aggregate and access on one single page all tools used by the team.
                        <br/>
                        <br/>
                        <span style="font-weight: 600">Technologies used: ReactJS, Gatsby, HTML5/CSS3</span>
                    </p>
                </div>
                <div style="margin: auto; text-align: center" class="animated fadeInLeft delay-1s">
                    <a href="./portfolio/restApi">
                        <img src="../img/rest_api.png" alt="rest api app">
                    </a>
                    <br>
                    <p id="caption">Complete RESTful API.
                        <br/> Make all CRUD operations from/to a DB, or upload a bulk file. All testable through Swagger.
                        <br/>
                        <br/>
                        <span style="font-weight: 600">Technologies used: NodeJS, MongoDB, Redis, Swagger, Docker. Test: Mocha/Chai </span>
                    </p>
                </div>
                <div style="margin: auto; text-align: center" class="animated fadeInRight delay-1s">
                    <a href="./portfolio/movieDB">
                        <img src="../img/movie_tmdb_react.png" alt="rest api app">
                    </a>
                    <br>
                    <p id="caption">Show the best
                        <br/> Fetch data through an API and show the best rated movies/shows, and their details.
                        <br/>
                        <br/>
                        <span style="font-weight: 600">Technologies used: ReactJS, HTML5/CSS3, Test: Jest/Enzyme</span>
                    </p>
                </div>
                <div style="margin: auto; text-align: center" class="animated fadeInLeft delay-1s">
                    <a href="./portfolio/website">
                        <img src="../img/alexbuaiscia_rs.png" alt="main website of mine">
                    </a>
                    <br>
                    <p id="caption">Main website.
                        <br>Functions: login and sign-up; GUI to write and post on-line.
                        <br/>
                        <br/>
                        <span style="font-weight: 600">Technologies used: HTML5/CSS3, NodeJS, EJS, JS, MongoDB</span>
                    </p>
                </div>

            </section>
        </div>
    </div>


    <% include ../partials/footer %>